<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.mapper.DeliveryOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feng.pojo.DeliveryOrder">
        <id column="order_id" property="orderId" />
        <result column="menu_id" property="menuId" />
        <result column="staff_id" property="staffId" />
        <result column="order_generation_time" property="orderGenerationTime" />
        <result column="order_completion_time" property="orderCompletionTime" />
        <result column="order_state" property="orderState" />
        <result column="destination" property="destination" />
        <result column="order_telephone" property="orderTelephone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, menu_id, staff_id, order_generation_time, order_completion_time, order_state, destination, order_telephone
    </sql>

</mapper>
