<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feng.pojo.Menu">
        <id column="menu_id" property="menuId" />
        <result column="order_id" property="orderId" />
        <result column="consumer_id" property="consumerId" />
        <result column="staff_id" property="staffId" />
        <result column="generation_time" property="generationTime" />
        <result column="completion_time" property="completionTime" />
        <result column="menu_state" property="menuState" />
        <result column="menu_telephone" property="menuTelephone" />
        <result column="order_number" property="orderNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, order_id, consumer_id, staff_id, generation_time, completion_time, menu_state, menu_telephone, order_number
    </sql>

</mapper>
